<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- Root Context: defines shared resources visible to all other web components -->
	
 	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:mybatis/db.properties</value>
			</list>
		</property>
	</bean>
    
<!-- 	
	<context:property-placeholder location="classpath:mybatis/db.properties" />
-->		
	<!-- dataSource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driver}"/>
		<property name="url" value="${url}"/>
		<property name="username" value="${username}"/>
		<property name="password" value="${password}"/>
	</bean>
	
	<!-- mybatis (sqlSessionFactory) --> 
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="WEB-INF/spring/sqls/config.xml"/>
	</bean>
	
	<!-- mybatis (sqlSessionTemplate) -->
	<bean id="sqlSessionTemplate" class= "org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSession"/>
	</bean>
	
	
	<!-- MultipartResolver 설정 --> 
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
		<property name="maxUploadSize" value="100000000" /> 
		<property name="maxInMemorySize" value="100000000" />
		<property name="defaultEncoding" value="UTF-8"></property> 
	</bean>
	
	<!-- login error message -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>/WEB-INF/messages/security-message</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="5"/>
    </bean>

 	 <!-- 메일 보내기 (SEND) -->
  	 <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	      <property name="host" value="smtp.gmail.com" />
	      <property name="port" value="587" />
	      <property name="username" value="hyerin03158@gmail.com" />
	      <property name="password" value="naver.com1@" />
    

      <!-- email 요청시는 SMTP -->
      <property name="javaMailProperties">
         <props>
            <prop key="mail.transport.protocol">smtp</prop>
            <prop key="mail.smtp.auth">true</prop>
            <prop key="mail.smtp.starttls.enable">true</prop>
            <prop key="mail.debug">true</prop>
         </props>
      </property>
   </bean>
   
   <!-- 회원가입 유효성 검사 -->
	<bean id="messagesSource" 
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		        <!-- Encoding 설정 -->
		        <property name="defaultEncoding" value="UTF-8"/> 
		        <!-- Reload Cache 설정 -->
		        <property name="cacheSeconds" value="5"/>
		        <property name="basenames">
		            <list>
		                <value>/WEB-INF/messages/message</value>
		            </list>
		        </property>       
    </bean>

	
</beans>
