<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "roomsearch">
  
  <resultMap type="roomsearchDto" id="roomsearchMap">
  	<result property="myno" column="MYNO"/>
  	<result property="myname" column="MYNAME"/>
  	<result property="mytitle" column="MYTITLE"/>
  	<result property="mycontent" column="MYCONTENT"/>
  	<result property="mypath" column="MYPATH"/>
  	<result property="mypremium" column="MYPREMIUM"/>
  	<result property="myaddress" column="MYADDRESS"/>
  </resultMap>
  
  <select id="selectList" resultMap="roomsearchMap">
  	select * from testboard
  </select>
  
  <select id="selectsearchList" resultMap="roomsearchMap" parameterType="string">
  	select * from testboard 
  	<if test="keyword != null and keyword !='' ">
  		where myaddress like '%${keyword}%'
  	</if>
  	
  </select>
  
  
</mapper>
