@charset "UTF-8";

.searchheader{
	border-bottom: 3px solid rgb(235, 235, 235);
	float:left;
	width:100%;
	height:50px;
	margin-bottom: 30px;
}

.searchbar{
	width: 80%;
    height: 100%;
    color: rgb(34, 34, 34);
    font-size: 16px;
    line-height: 66px;
    background-color: rgb(255, 255, 255);
    padding: 0px 10px 0px 20px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.keyword{
	display:inline-block;
	width:249px;
	height:100%;
	border-right: 0.5px solid rgb(232, 232, 232);
}

.filter{
	display:inline-block;
}

.smallfilter{
	display:inline-block;
	width:auto;
}

.seperate{
	max-width: 150px;
    height: 70%;
    font-size: 9px;
    color: rgb(34, 34, 34);
    font-weight: 500;
    line-height: 34px;
    background-color: rgb(255, 255, 255);
    user-select: none;
    position: relative;
    padding: 0px 30px 0px 12px;
    cursor:pointer;
}



.room{
	margin-left:10px;
	float:left;
	width:165px;
	height:230px;
}

.photo{
	float: left;
    width: 165px;
    height: 150px;
    background-color: aqua;
}

.photo>img{
	width: 165px;
    height: 150px;
}

.explain{
	margin:0;
	color:black;
}

#roomtitle{
	margin-top: 15px;
    font-weight: bold;
    font-size: 15px;
}

.favorite{
	width: 36px;
    height: 36px;
    top: 33px;
    z-index: 1;
    left: 131px;
    cursor: pointer;
    position: relative;
}

.favorite>img{
	width:36px;
	height:36px;
}

.leftpart{
	weight:100%;
	height:700px;
	overflow:auto;
	
}

.filterbox{
	position:absolute;
	z-index: 2;
	background-color: white;
	border-width: 1px;
    border-style: solid;
    padding: 27px 30px 30px;
    display:none;
}

.filterbox>h1{
	font-size: 20px;
}

.filterbox>h1>p{
	font-size: 15px;
	margin-top: 10px;
}

ul, li{
	list-style: none;
	padding: 0;
}

.roomlabel{
	display: block;
    height: 22px;
    padding-left: 23px;
    position: relative;
    cursor: pointer;
}

.roomlabel>.Checkbox{
	float: left;
    width: 22px;
    height: 22px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -10px;
    left: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 3px;
}

.checkbox_check{
	width: 21px;
    height: 21px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:1;
}

.checktext{
	font-size: 15px;
	margin-left: 10px;
    line-height: 22px;
    position: relative;
    bottom: 1px;
}



