@charset "UTF-8";

.searchheader{
	border-bottom: 3px solid rgb(235, 235, 235);
	float:left;
	width:100%;
	height:50px;
	margin-bottom: 30px;
}

.searchbar{
	width: 80%;
    height: 100%;
    color: rgb(34, 34, 34);
    font-size: 16px;
    line-height: 66px;
    background-color: rgb(255, 255, 255);
    padding: 0px 10px 0px 20px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.keyword{
	display:inline-block;
	width:249px;
	height:100%;
	border-right: 0.5px solid rgb(232, 232, 232);
}

.filter{
	display:inline-block;
}

.smallfilter{
	display:inline-block;
}

.seperate{
	max-width: 150px;
    height: 70%;
    font-size: 9px;
    color: rgb(34, 34, 34);
    font-weight: 500;
    line-height: 34px;
    background-color: rgb(255, 255, 255);
    user-select: none;
    position: relative;
    padding: 0px 30px 0px 12px;
}

.favorite{
	width:36px;
	position: absolute;
	top: 3px;
	right: 7px;
	z-index:1;
	cursor:pointer;
}

.room{
	margin-left:10px;
	float:left;
	width:165px;
	height:230px;
}

.photo{
	float: left;
    width: 165px;
    height: 150px;
    background-color: aqua;
}

.photo>img{
	width: 165px;
    height: 150px;
}

.explain{
	margin:0;
	color:black;
}

#roomtitle{
	margin-top: 15px;
    font-weight: bold;
    font-size: 15px;
}

.favorite{
	width: 36px;
    height: 36px;
    top: -152px;
    z-index: 1;
    left: 131px;
    cursor: pointer;
    position: relative;
}

.favorite>img{
	width:36px;
	height:36px;
}

.leftpart{
	weight:100%;
	height:700px;
	overflow:auto;
	
}